body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
.conversation-window {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #001;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	padding: 0.2%;
	align-items: stretch;
	justify-content: space-between;
}
.conversation-window ul {
	display: flex;
	flex-direction: column;
}
.conversation-window ul li {
	margin-top: 5px;
	list-style-type: none;
	padding: 7px;
	border-radius: 5px;
	width: fit-content;
}
.conversation-window ul li.human {
	background-color: rgb(35, 123, 255);
	color: white;
	text-align: right;
	align-self: flex-end;
}
.conversation-window ul li.bot {
	background-color: rgb(54, 54, 54);
	color: white;
	text-align: left;
	align-self: flex-start;
}

.conversation-history {
	display: flex;
	background: rgb(42, 38, 38);
	flex: 0 0 79%;
	padding: 1%;
	box-sizing: border-box;
	border-radius: 15px;
	overflow-y: scroll;
}
.conversation-history-container {
	display: flex;
	flex: 1;
	box-sizing: border-box;
	padding-top: 1%;
	border-radius: 15px;
}

.conversation-entry {
	display: flex;
	background: whitesmoke;
	flex: 0 0 20%;

	box-sizing: border-box;

	border-radius: 15px;
	padding: 1%;
}
.conversation-entry textarea {
	flex: 1;
	border: none;
	border-radius: 15px;
	padding: 1%;
	font-size: 1.5em;
}
